<ng-container *ngIf="user$ | async as user; else loggedOut">
  <div class="wrap">
    <span class="hello">Hi, {{ user.name }}</span>

    <button class="button-26" type="button" (click)="logout()">
      <div class="button-26__content">
        <span class="button-26__text">Logout</span>
      </div>
    </button>
  </div>
</ng-container>

<ng-template #loggedOut>
  <div class="wrap">
    <a class="button-26" routerLink="/sign-in">
      <div class="button-26__content">
        <span class="button-26__text">Sign in</span>
      </div>
    </a>

    <a class="button-26" routerLink="/auth">
      <div class="button-26__content">
        <span class="button-26__text">Register</span>
      </div>
    </a>

    <button class="button-26" type="button" (click)="guest()">
      <div class="button-26__content">
        <span class="button-26__text">Guest</span>
      </div>
    </button>
  </div>
</ng-template>

